<!DOCTYPE html>
<html>
<head>
  <title>Complication Report</title>
  <link rel="stylesheet" type="text/css" href="static/css/main.css">
  <link rel="stylesheet" type="text/css" href="static/css/complication_report.css">

  <script src="static/javascript/complication_report.js"></script>

</head>
<body>
  {% include 'navbar.html' %}

  <div class="header">
    <h2>COMPLICATION REPORT</h2>
  </div>
  <div class="report-form">
      
  <br>
  <br>
      
  {% if success %}
    <div id="successMessage" style="color: green;">
        Complication report submitted successfully!
    </div>
  {% endif %}
      
      
  <h2>ENTER INFO:</h2>
      
  <form id="complicationReportForm" name="complicationReportForm">
        <div class="input-group">
            <label for="transfusionID" id="transfusionIDLabel" >Transfusion ID:</label>
            <input list="transfusionIDChoices" id="transfusionID" name="transfusionID" placeholder="Enter Transfusion ID">
            <datalist id="transfusionIDChoices" name="transfusionIDChoices">
              {%for i in range(0, numTransfusionIDs)%}
                <option value="{{transfusionIDList[i]}}">
              {%endfor%}
            </datalist>
            </div>
        <div class="comment-section">
          <label for="comment" id="commentLabel">Comment:</label>
          <textarea id="comment" name="comment" rows="4" placeholder="Enter your comment here"></textarea>
        </div>
        <div id="formContainer">
          <button id="submitReportButton">Submit Report</button>
        </div>
    </form>
  </div>

</body>
</html>
