<!-- CS 3308 Group Project -->
<!-- Team 2: Space Monkeys -->
<!-- Template for inventory details page -->
<!-- Last Update: Travis Byrne, 2 August 2023 -->

{% extends "main_layout.html" %}
{% block title %}Inventory Details{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="static/css/detail.css">
{% endblock %}
{% block content %}
  <h1>Inventory Details</h1>

  <hr>

  <!-- The menu for the page -->
  <div id="menu">
    <h3>Menu</h3>
    <label for="hospital">Choose a blood bank or hospital:</label>
    <select id="hospital">
      {% for hospital in hospitals %}
        <option value="{{ hospital[1] }}">{{ hospital[0] }}</option>
      {% endfor %}
    </select>
    <div id="checkbox-container">
      <label>Display: </label>
      <input type="checkbox" id="donations" checked>
      <label for="donations">Donations</label>
      <input type="checkbox" id="transfusions" checked>
      <label for="transfusions">Transfusions</label>
      <input type="checkbox" id="incomingTransfers" checked>
      <label for="incomingTransfers">Incoming Transfers</label>
      <input type="checkbox" id="outgoingTransfers" checked>
      <label for="outgoingTransfers">Outgoing Transfers</label>
    </div>
  </div>

  <hr>

  <!--Main part of the page with data tables-->
  <div id="tablesContainer">

    <div id="donationTable">
      <h2>Donations</h2>
      <table>
        <tr>
          <th>Donation ID</th>
          <th>Date & Time</th>
          <th>Donor ID</th>
          <th>Medical Professional</th>
          <th>Amount</th>
        </tr>
        {% for donation in donations %}
          <tr>
            <td>{{ donation[0] }}</td>
            <td>{{ donation[1] }}</td>
            <td>{{ donation[2] }}</td>
            <td>{{ donation[3] }}</td>
            <td>{{ donation[5] }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>

    <div id="transfusionTable">
      <h2>Transfusions</h2>
      <table>
        <tr>
          <th>Transfusion ID</th>
          <th>Date & Time</th>
          <th>Donation ID</th>
          <th>Patient ID</th> 
          <th>Medical Professional</th>
          <th>Amount</th>
        </tr>
        {% for transfusion in transfusions %}
        <tr>
          <td>{{ transfusion[0] }}</td>
          <td>{{ transfusion[1] }}</td>
          <td>{{ transfusion[2] }}</td>
          <td>{{ transfusion[3] }}</td>
          <td>{{ transfusion[4] }}</td>
          <td>{{ transfusion[6] }}</td>
        </tr>
      {% endfor %}
      </table>
    </div>

    <div id="incomingTransferTable">
      <h2>Incoming Transfers</h2>
      <table>
        <tr>
          <th>Transfer ID</th>
          <th>Date & Time</th>
          <th>Donation ID</th>
          <th>Sending Hospital ID</th>
        </tr>
        {% for transfer in incomingTransfers %}
          <tr>
            <td>{{ transfer[0] }}</td>
            <td>{{ transfer[1] }}</td>
            <td>{{ transfer[2] }}</td>
            <td>{{ transfer[4] }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>

    <div id="outgoingTransferTable">
      <h2>Outgoing Transfers</h2>
      <table>
        <tr>
          <th>Transfer ID</th>
          <th>Date & Time</th>
          <th>Donation ID</th>
          <th>Recieving Hospital ID</th> 
        </tr>
        {% for transfer in outgoingTransfers %}
          <tr>
            <td>{{ transfer[0] }}</td>
            <td>{{ transfer[1] }}</td>
            <td>{{ transfer[2] }}</td>
            <td>{{ transfer[3] }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>

  </div>

  <!--script for the page-->
  <script src="static/javascript/detail.js"></script>

{% endblock %}