<!doctype html>
<title>Donation Entry</title>

<a href="home">Home</a>

<h1>Donation Entry</h1>

<form>
    <label for="donorID">Donor ID:</label>
    <input type="text" id="donorID" name="donorID">
    <br>
    <label for="donorName">Donor Name:</label>
    <input type="text" id="donorName" name="donorName">
    <br>
    <label for="donorBloodType">Donor Blood Type:</label>
    <input type="text" id="donorBloodType" name="donorBloodType">
    <br>
    <input type="submit" value="Submit">
</form>

<br>
<br>

<div>
    <IMG SRC="https://i1.sndcdn.com/avatars-1udLVJeIMPPuwYyI-Fkx7zg-t500x500.jpg">
</div>
