<!-- CS 3308 Group Project -->
<!-- Team 2: Space Monkeys -->
<!-- Template for Blood Bank website Donor Entry page -->
<!-- Last Update: David Hughes, 26 July 2023 -->

{% extends "main_layout.html" %}
{% block title %}Donor Entry Page{% endblock %}
{% block head %}
  {{ super() }}
  <script src="static/javascript/donor.js"></script>
  <link rel="stylesheet" type="text/css" href="static/css/donor.css">
  <link rel="stylesheet" type="text/css" href="static/css/main.css">
  {% endblock %}
{% block content %}

  {% include 'navbar.html' %}

  <div class="header">
    <h1>Donor Entry Page</h1>
  </div>
  <form id="donorEntryForm" name="donorEntryForm">
    <label id="donorNameLabel" for="donorName">Donor Name:</label>
    <br>
    <input type="text" id="donorName" name="donorName">
    <br>
    <br>
    <label id="donorBloodTypeLabel" for="donorBloodType">Donor Blood Type:</label>
    <br>
    <select id="donorBloodType" name="donorBloodType">
        <option value="">Enter Blood Type</option>
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
      </select>
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
{% endblock %}