<!-- CS 3308 Group Project -->
<!-- Team 2: Space Monkeys -->
<!-- Template for Blood Bank website homepage -->
<!-- Last Update: Dylan Kayyem, 8/6/2023 -->
<head>
{% extends "main_layout.html" %}
{% block title %} Homepage {% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="static/css/main.css">
  <link rel="stylesheet" type="text/css" href="static/css/homepage.css">
  <title>Blood Bank Homepage</title>

{% endblock %}
{% block content %}

  {% include 'navbar.html' %}

<header class="header" >

  <h1> The Space Monkeys Blood Bank </h1>

</header>

  <div id="banner">
    
    <div class="image-container">

      <img src="https://r4.wallpaperflare.com/wallpaper/805/417/201/animals-astronaut-fantasy-glasses-wallpaper-001e13213d7117de2e085fde03178813.jpg" alt="Blood Bank Image">

    </div>

  </div>
  
  <div class="container">

    <div class="list-header">
      <h2> Who is Eligible to Donate? </h2>
    </div>
    

    <div class="list-container">
      
      <div class="link">

        <p class="homepage-link"> Donating blood is safe and easy to do. Find out the general eligibility criteria. </p>

        <a href="https://www.redcrossblood.org/faq.html#eligibility" class="button-link">Eligibility</a>
  
  
      </div>
      
      <div class="list">
        
        <ul>

          <li class="homepage-list"> Donation frequency: Every 56 days, up to 6 times a year* </li>

          <li class="homepage-list"> Must be at least 16 years old </li>

          <li class="homepage-list"> You must be in good health and feeling well** </li>

          <li class="homepage-list"> You must weigh at least 110 lbs </li>

        </ul>

      </div>

    </div>

    <div class="info-container">

      <h2> Common Reasons People Can’t Donate </h2>

      <p id="info-caption"> Even if you were deferred in the past, you may be eligible to donate now. </p>

    </div>

    <div class="common-container">

      <div class = "reasons-container">

        <b> Cold, Flu and Other Types of Illness </b>

        <p> If you don’t feel well on the day of your donation, please call to cancel. We’ll be happy to see you 24 hours after your symptoms pass. </p>

        <a href="https://www.redcrossblood.org/faq.html#eligibility-health" class="reasons-link">Illness Deferrals</a>

      </div>

      <div class = "reasons-container">

        <b> Information About Medications </b>

        <p> Most medications will not disqualify you from being able to donate blood, but may require a waiting period after your final dose. </p>

        <a href="https://www.redcrossblood.org/faq.html#eligibility-medications" class="reasons-link">Medication Deferrals</a>

      </div>

    </div>

    <div class="common-container">

      <div class = "reasons-container">

        <b> Travel Outside of the United States </b>

        <p> If you were unable to donate due to low iron, you may still be able to donate in the future. The Red Cross recommends taking steps to help increase your iron level. </p>

        <a href="https://www.redcrossblood.org/faq.html#eligibility-travel" class="reasons-link">Travel Deferrals</a>

      </div>

      <div class = "reasons-container">

        <b> Low Iron </b>

        <p> You may be deferred from donating blood or platelets if you have lived in or traveled to a malaria-risk country in the past three years. </p>

        <a href="https://www.redcrossblood.org/donate-blood/blood-donation-process/before-during-after/iron-blood-donation.html" class="reasons-link">Learn more</a>

      </div>
    </div>
  </div>

{% endblock %}