
<!DOCTYPE html>
<html>
<head>
  <title>Navigation Bar</title>
  <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
  <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('donor') }}">Enter Donor</a></li>
        <li><a href="{{ url_for('patient') }}">Enter Patient </a></li>
        <li><a href="{{ url_for('donation') }}">Enter Donation</a></li>
        <li><a href="{{ url_for('transfusion') }}">Enter Transfusion</a> </li>
        <li><a href="{{ url_for('transfer') }}">Enter Transfer</a></li>
        <li><a href="{{ url_for('bloodbank') }}">Enter Blood Bank</a></li>
        <li><a href="{{ url_for('visualization') }}">Blood Visualization</a></li>
        <li><a href="{{ url_for('detail') }}">Detailed Inventory</a></li>
        <li><a href="{{ url_for('view_donors') }}">View Donors</a></li>
        <li><a href="{{ url_for('view_patients') }}">View Patients</a></li>
        <li><a href="{{ url_for('complication') }}">Complication Report</a></li>
        <li><a href="{{ url_for('view_complication') }}">View Complication</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
     </ul>
  </nav>
  <div id="footer">
      <p>
        CS 3308 Summer 2023 <br>
        Team 2: Space Monkeys
      </p>
  </div>
</body>
</html>