<!-- CS 3308 Group Project -->
<!-- Team 2: Space Monkeys -->
<!-- Template for Blood Bank website Transfusion page -->
<!-- Last Update: David Hughes, 26 July 2023 -->

<!doctype html>
<title>Transfusion Entry</title>

<a href="home">Home</a>

<h1>Transfusion Entry</h1>

<form>
    <label for="patientID">Patient ID:</label>
    <input type="text" id="patientID" name="patientID">
    <br>
    <label for="patientName">Patient Name:</label>
    <input type="text" id="patientName" name="patientName">
    <br>
    <label for="patientBloodType">Patient Blood Type:</label>
    <input type="text" id="patientBloodType" name="patientBloodType">
    <br>
    <input type="submit" value="Submit">
</form>

<br>
<br>

<div>
    <IMG SRC="https://i1.sndcdn.com/avatars-1udLVJeIMPPuwYyI-Fkx7zg-t500x500.jpg">
</div>
