<!DOCTYPE html>
<html>

<head>
  <title>Hospital Complication Report</title>
  <link rel="stylesheet" type="text/css" href="static/css/view_report.css">
  <link rel="stylesheet" type="text/css" href="static/css/main.css">
  <script src="static/javascript/view_report.js"></script>
  {% include 'navbar.html' %}
</head>

<body>
  <div class="header">
    <h2>VIEW COMPLICATION REPORT</h2>
  </div>

  <div class="search-boxes">
    <form id="complicationReportForm" name="complicationReportForm">
      <div class="search-report">
        <label for="reportSearch">Search Report:</label>
        <input list="transfusionIDChoices" id="transfusionID" name="transfusionID" placeholder="Enter Transfusion ID">
        <datalist id="transfusionIDChoices" name="transfusionIDChoices">
          {%for i in range(0, numTransfusionIDs)%}
            <option value="{{transfusionIDList[i]}}">
          {%endfor%}
        </datalist>
        <button type="submit">Search</button>
      </div>
    </form>
  </div>

  <div class="hospital-info">
      <h3 class="report_h3">Transfusion number : <span id="transfusionIDData">
        {% if transfusionID %}
        <p class="transfusionID">{{ transfusionID }}</p>
        {% endif %}  
      </span></h3>
      <p>Complication ID: <span id="complicationIDDisplay">
        {% if complicationID %}
        <p class="complicationID">{{ complicationID }}</p>
        {% endif %}  
      </span></p>
      <p>Comments: <span id="commentsDisplay">
        {% if complicationComment %}
        <p class="complicationID">{{ complicationComment }}</p>
        {% endif %}  
      </span></p>
      {% if error_message %}
      <p class="error-message">{{ error_message }}</p>
      {% endif %}
  </div>
</body>

</html>
