/* CS 3308 Group Project */
/* Team: Space Monkeys */
/* CSS rules for Homepage */
/* Last Update: Dylan Kayyem, 8/3/2023 */
header {
    background-color: #63c3bb;
    color: #fff;
    padding: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}
#banner {
    max-width: 100%;
    height: 200px;
    overflow: hidden; /* This will hide any content that overflows the container */
    position: relative; /* Required for absolute positioning within the container */
}
.image-container {
    position: absolute;
    top: -90px;
}
.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.container {
    max-width: 100%;
    margin: 0 auto;
}
.fact-container {
    padding: 20px;
    margin: 20px;
}
.info-container {
    padding: 20px;
    margin: 20px;
}
.common-container {
    display: flex;
    max-width: 100%;
    margin-left: 20px;
}
.reasons-container {
    flex: 1;
    padding: 20px;
    margin: 0px 20px 0px 0px;
}
.list-container {
    margin-bottom: 20px;
}
p {
    padding: 0;
}
b {
    text-align: center;
}