/* CS 3308 Group Project */
/* Team 2: Space Monkeys */
/* CSS rules for Blood Bank website */

#sidebar {
    width: 15vw;             /* 15% of page width */
    height: 85vh;            /* 85% of page height */
    border-style: solid;
    border-width: thin;
    float: left;             /* Align on left of page */
    position: fixed;         /* Pin so it is always displayed while user scrolls */
    padding: 10px;           /* 10px padding between border and content */
    background-color: aqua;
}

#content {
    width: 80vw;             /* 80% of width of page */
    float: right;            /* Align on right side of page */
    border-style: solid;
    border-width: thin;
    padding: 10px;           /* 10px padding between border and content */
}

#footer {
    height: 10vh;            /* 15% of page height */
    position: fixed;         /* Pin so it is always displayed while user scrolls */
    left: 0;                 /* Align to left of page */
    bottom: 0;               /* Align to bottom of page */
    width: 100%;             /* Full page width */
    border-style: solid;
    border-width: thin;
    text-align: center;
}
